# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite database file
db.sqlite3

# Ignore virtual environment
venv/
env/

# Ignore media and static files if not needed
media/
static/

# Ignore local settings and environment variables
.env