{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{friend.first_name}} {{friend.last_name}}
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/friendprofile.css' %}">
{% endblock %}

{% block navbar %}
{%  include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="row" style="margin-top:2%;">

    <div class="col-md-3" style="margin-left:4%; text-align: center;">
        <div class="card card-body" style="border-radius:25px;">
            <img class="img-fluid img-thumbnail"  src="{{friend.profile_pic.url}}" >

            <h3 >{{friend.first_name}} {{friend.last_name}}</h3>
            <a href="#"><h4 >@{{friend.username}}</h4></a>
            <h6>{{friend.get_num_posts}} Posts</h6>
            <p>{{friend.bio}}</p>

            {% if is_following %}
            <a href="/unfollow/{{friend.id}}">             <button type="button" class="btn btn-danger">Unfollow</button>            </a>

            {%  else %}
            <a href="/follow/{{friend.id}}">             <button type="button" class="btn btn-success">Follow</button>            </a>
            
            {% endif %}

        </div>
    </div>

    <div class="col-md-8" >
        <div class="card card-body" style="border-radius:25px; min-height:100%;">
            {% for post in object_list %}
            <div class="card" style="margin: 2%;">
                <div class="card-body row">
                    <div class="col-md-10">
                        <div class="user-info-header">
                            <a href="/user/{{ post.user.username }}" class="card-link"><h4>@{{ post.user.username }}</h4></a>
                        </div>
                        
                        <p class="card-text post-caption">
                            <a href="{% url 'post_brief' post.id %}" style="text-decoration: none; color: inherit;">
                                <span style="color: #FF6347;">"</span>{{ post.caption }}<span style="color: #FF6347;">"</span>
                            </a>
                        </p>
                           
                        {% if post.description %}
                            <span class="content-divider"></span>
                            <div class="description-container">
                                {% if post.description|length > 180 %}
                                    <span id="short-{{ post.id }}">{{ post.description|slice:":180" }}...</span>
                                    <span id="full-{{ post.id }}" style="display:none;">{{ post.description }}</span>
                                    <a href="javascript:void(0);" onclick="toggleReadMore('{{ post.id }}')" id="btn-{{ post.id }}" class="read-more-btn">Read more</a>
                                {% else %}
                                    {{ post.description }}
                                {% endif %}
                                <a href="#" class="card-link">{{post.date_created}}</a>
                                
                                <a href="{% url 'post_brief' post.id %}" class="btn btn-info btn-sm">View More</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% include 'pagination.html' %}
        </div>
        <br>
    </div>

</div>

<script>
    function toggleReadMore(postId) {
        var shortText = document.getElementById('short-' + postId);
        var fullText = document.getElementById('full-' + postId);
        var btn = document.getElementById('btn-' + postId);
    
        if (shortText.style.display !== 'none') {
            shortText.style.display = 'none';
            fullText.style.display = 'inline';
            btn.innerHTML = 'Read less';
        } else {
            shortText.style.display = 'inline';
            fullText.style.display = 'none';
            btn.innerHTML = 'Read more';
        }
    }
    </script>
{% block extra_js %}
<script src="{% static 'js/friendprofile.js' %}"></script>
{% endblock %}
{% endblock content %}