{%  extends 'base.html' %}
{% load crispy_forms_tags%}
{% load static %}
    {% block title %}
    Signup
    {% endblock title %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    {% endblock %}

    {% block content %}



<div class="container-fluid">
    <div class="row" style="margin-top:3%;">
        <div class="col-md-4 col-xs-12" >

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Sign up</button>

            </form>
            <a class="signin-text" href="{% url 'login_page' %}">Already a user? <strong>Log in</strong></a>
            <br>
        </div>

        <div class="col-md-8 col-xs-12">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1544717305-f9c88f2897bc?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
            
        </div>
    </div>
</div>
{% block extra_js %}

<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}


    {% endblock content %}